h1 {
    color: white;
    font-size: 18px;
}

img {
    width: 400px;
}

.thirdDiv {
    height: 600px;
    width: 500px;
    background-color:khaki;
    padding: 50px;
    border-bottom: whitesmoke;
}

#spanId {
    color: white;
    font-size: 18px;
    margin: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.background {
    background-image: url("https://www.ibm.com/content/dam/connectedassets-adobe-cms/worldwide-content/msc/ul/g/94/07/940754cb-5070-44c3-9043feb019569c60.component.xl.ts=1646673571570.jpg/content/adobe-cms/es/es/topics/mainframe/_jcr_content/root/leadspace");
    width: 100%;
    height: 100vh;
    background-size: cover;
}